.black-div{
    background-color: black;
    padding: 30px 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0;
}

.navbar{
    background-color: black;
    padding: 50px 30px 20px;
}

.fornav{
    background-color: rgb(35, 35, 35);
    border-radius: 50px;
}

.nt{
    padding: 5px 40px;
    color: white;
    /* background-color: rgb(69, 69, 69); */
    font-size: 13px;
}

.nt-active{
    padding: 5px 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 13px;
}

hr{
    background-color: black;
    margin: 0;
    padding: 0;
    color: rgb(73, 73, 73);
    height: 1px;
    opacity: 1;
}

.text-col{
    padding: 60px;
    padding-top: 120px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 5px;
    color: white;
    text-align: right;
}

.input{
    background-color: black;
    color: white;
}

.input1{
    background: black;
    color: white;
}

.mb-3{
    padding-top: 20px;
    text-align: left;
}

.sideE{
    display: inline;
    position: relative;
    left: 20vw;
    font-size: 11px;
    border: 1px solid plum;
    padding: 5px 10px;
    border-radius: 5px;
}

.form-select,.form-control {
    border: 1px solid rgb(73, 73, 73);
}

.longcol{
    border: 1px solid rgb(73, 73, 73);
    height:28.96vw;
    border-radius: 5px;
    color: white;
}

.smallcol{
    margin-top: 15px;
    border: 1px solid rgb(73, 73, 73);
    height: 8vw;
    border-radius: 5px;
}

.ex-btn{
    margin-top: 100px;
}

.disp-value{
    font-size: 52px;
    padding-top: 100px;
}